body {
    background-color: antiquewhite;
}

img {
    width: 500px;
    height: 500px;
}

#home {
    text-align: center;
    background-color: rgb(251 225 190);
    border-radius: 50px;
}

#gallery {
    text-align: center;
}

.solar img {
    width: 100%;
}

.solar h1 {
    text-align: center;
}

.title {
    text-align: center;
    color: red;
    text-decoration: underline;
}

.planets_gallery {
    display: flex;
    flex-direction: column;
}

.planet_img {
    margin: 0 270px;
    padding: 19px 0;
    background-color: #000000;
    border: 1px solid black;
    border-radius: 40px;
    overflow: hidden;
}

.planet_img:hover img {
    transform: scale(1.2);
}

.planet_img img {
    border-radius: 40px;
    transition: transform .8s;
}

#footer {
    text-align: center;
}

#video {
    text-align: center;
}

#nav {
    text-align: center;
    background-color: antiquewhite;
}

#nav li {
    display: inline;
    font-size: 1.5rem;
    padding: 0 15px;
    color: red;
}

.nav_items {
    margin: 0px 20%;
    background-color: black;
    border-radius: 10px;
}

.navbar a {
    text-decoration: none;
}

#contact {
    text-align: center;
}